<!DOCTYPE html>

<html> 
    <title>{{title}}</title>
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/styles.css">;
     <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    
<head> 
  

</head>

<body>
    <div id="main" class="ui text container">
        
            </br>
            <a href="/#"><img class="ui fluid image" src="/img/DSC_Logo.png"></a>
        
            <div id="Main">
                <div class="fof">
                    <h1>Error 404</h1>
                </div>
            </div>

    </div>




    
</body>


</html>