<!DOCTYPE html>

<html> 
    <title>cp-utility</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.5/pdfobject.min.js" integrity="sha512-K4UtqDEi6MR5oZo0YJieEqqsPMsrWa9rGDWMK2ygySdRQ+DtwmuBXAllehaopjKpbxrmXmeBo77vjA2ylTYhRA==" crossorigin="anonymous"></script>
    
<head> 
  

</head>

<body>
    <div id="main" class="ui text container">
        <div class="ui segments">
        
            </br>
            <a href="/#"><img class="ui fluid image" src="/img/Codeforces_logo.png"></a>
        
            <form id="form" class="ui form segment">
                 <div class="field">
                    <label>Handels (use ' , ' to split hanedls)</label>
                    <input type="text" name="handels" placeholder="Ex: NightRage,KoftaIQ">
                </div>
              
                <div class="field">
                    <label>Type</label>
                    <select class="ui fluid dropdown"  name="type">
                        <option value="Gym">Gym</option>
                        <option value="Any">Any</option>
                    </select>
                </div>

                <button class="ui button" name="button" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="/js/app.js" > </script>

    
</body>


</html>